/Assigment 1/bank/target/
/Assigment 1/bank/nbproject/
/Assigment 2/auction/target/
/Assigment 2/auction/nbproject/
/Assigment 3/auction/target/
/Assignment 4/auction/nbproject/
/Assignment 5/auction/target/
/Assignment 5/auction/nbproject/
/Assignment 6/auction/target/
/Assignment 6/auctionWebservice/target/
/Assignment 6/auctionClient/nbproject/private/
/Assignment 6/auctionClient/build/
/Assignment 6/auctionClient/dist/
/Assignment 7/Opdracht 1/Application1/nbproject/private/
/Assignment 7/Opdracht 1/Application1/build/
/Assignment 7/Opdracht 1/Application2/nbproject/private/
/Assignment 7/Opdracht 1/Application2/build/
/Assignment 7/Opdracht 1/Opdracht2/nbproject/private/
/Assignment 7/Opdracht 1/Opdracht2/build/
/Assignment 7/Opdracht 1/Opdracht2/dist/